@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

html {
  scroll-behavior: smooth;
}